/*GENERALES*/
* {
    font-size: 13px;
    
    /*Depurar*/
    /*
    border:1px solid;
    border-color: red;
    */
}

/*BARRA*/

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 1s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/*WORKSPACES*/
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces, #window {
    margin: 0 3px;
}

/*MODULOS*/
#user,
#clock,
#cpu,
#memory,
#temperature,
#language,
#tray,
#mode,
#workspaces,
#idle_inhibitor,
#pulseaudio,
#network,
#bluetooth,
#power-profiles-daemon,
#custom-power
{
   padding: 2px 4px;
   margin: 2px 4px;
}

/*ESPECIAL MODELO IZQUIERDA Y DERECHA*/

/* If user is the leftmost module, omit left margin */
.modules-left > widget:first-child > #user {
    margin-left: 10px;
}

/* If power is the rightmost module, omit right margin */
.modules-right > widget:last-child > #custom-power {
    margin-right: 10px;
}

